USE [master]
GO
/****** Object:  Database [TP08]    Script Date: 06/11/2022 03:20:59 p. m. ******/
CREATE DATABASE [TP08]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP08', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TP08.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP08_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TP08_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP08].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP08]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 06/11/2022 03:20:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[escudo] [varchar](max) NULL,
	[IdLiga] [int] NOT NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fechas]    Script Date: 06/11/2022 03:20:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fechas](
	[IdFecha] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[IdLiga] [int] NOT NULL,
 CONSTRAINT [PK_Fechas] PRIMARY KEY CLUSTERED 
(
	[IdFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ligas]    Script Date: 06/11/2022 03:20:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ligas](
	[IdLiga] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[logo] [varchar](max) NULL,
 CONSTRAINT [PK_Ligas] PRIMARY KEY CLUSTERED 
(
	[IdLiga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 06/11/2022 03:20:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipoLocal] [int] NOT NULL,
	[IdEquipoVisitante] [int] NOT NULL,
	[golesEquipoLocal] [int] NULL,
	[golesEquipoVisitante] [int] NULL,
	[fechaPartido] [date] NOT NULL,
	[IdFecha] [int] NOT NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([IdEquipo], [nombre], [escudo], [IdLiga]) VALUES (140, N'Racing Club', N'https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Escudo_de_Racing_Club_%282014%29.svg/1200px-Escudo_de_Racing_Club_%282014%29.svg.png', 43)
INSERT [dbo].[Equipos] ([IdEquipo], [nombre], [escudo], [IdLiga]) VALUES (141, N'Independiente', N'https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Escudo_del_Club_Atl%C3%A9tico_Independiente.svg/1200px-Escudo_del_Club_Atl%C3%A9tico_Independiente.svg.png', 43)
INSERT [dbo].[Equipos] ([IdEquipo], [nombre], [escudo], [IdLiga]) VALUES (142, N'Boca Jrs', N'https://upload.wikimedia.org/wikipedia/commons/c/c9/Boca_escudo.png', 43)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Fechas] ON 

INSERT [dbo].[Fechas] ([IdFecha], [numero], [IdLiga]) VALUES (97, 1, 43)
INSERT [dbo].[Fechas] ([IdFecha], [numero], [IdLiga]) VALUES (98, 2, 43)
INSERT [dbo].[Fechas] ([IdFecha], [numero], [IdLiga]) VALUES (99, 3, 43)
SET IDENTITY_INSERT [dbo].[Fechas] OFF
GO
SET IDENTITY_INSERT [dbo].[Ligas] ON 

INSERT [dbo].[Ligas] ([IdLiga], [nombre], [logo]) VALUES (46, N'Premier League', N'https://a1.espncdn.com/combiner/i?img=%2Fi%2Fleaguelogos%2Fsoccer%2F500%2F23.png')
INSERT [dbo].[Ligas] ([IdLiga], [nombre], [logo]) VALUES (47, N'Liga Santander', N'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/LaLiga_Santander_logo_%28stacked%29.svg/2394px-LaLiga_Santander_logo_%28stacked%29.svg.png')
SET IDENTITY_INSERT [dbo].[Ligas] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidos] ON 

INSERT [dbo].[Partidos] ([IdPartido], [IdEquipoLocal], [IdEquipoVisitante], [golesEquipoLocal], [golesEquipoVisitante], [fechaPartido], [IdFecha]) VALUES (198, 140, 145, 100, 1, CAST(N'2022-01-01' AS Date), 97)
INSERT [dbo].[Partidos] ([IdPartido], [IdEquipoLocal], [IdEquipoVisitante], [golesEquipoLocal], [golesEquipoVisitante], [fechaPartido], [IdFecha]) VALUES (199, 141, 144, 0, 0, CAST(N'2022-01-01' AS Date), 97)
INSERT [dbo].[Partidos] ([IdPartido], [IdEquipoLocal], [IdEquipoVisitante], [golesEquipoLocal], [golesEquipoVisitante], [fechaPartido], [IdFecha]) VALUES (200, 142, 143, 0, 0, CAST(N'2022-01-01' AS Date), 97)
SET IDENTITY_INSERT [dbo].[Partidos] OFF
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Ligas] FOREIGN KEY([IdLiga])
REFERENCES [dbo].[Ligas] ([IdLiga])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Ligas]
GO
ALTER TABLE [dbo].[Fechas]  WITH CHECK ADD  CONSTRAINT [FK_Fechas_Ligas] FOREIGN KEY([IdLiga])
REFERENCES [dbo].[Ligas] ([IdLiga])
GO
ALTER TABLE [dbo].[Fechas] CHECK CONSTRAINT [FK_Fechas_Ligas]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Equipos] FOREIGN KEY([IdEquipoLocal])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Equipos]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Equipos1] FOREIGN KEY([IdEquipoVisitante])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Equipos1]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Fechas] FOREIGN KEY([IdFecha])
REFERENCES [dbo].[Fechas] ([IdFecha])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Fechas]
GO
USE [master]
GO
