@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">
    <img src ="https://images.cooltext.com/5626410.png">
    <center>
        <div class="row row-cols-1 row-cols-md-2">

        <div class="col mb-4">
            <div class="card"style="width: 18rem;">
            <img src="https://imagenes.elpais.com/resizer/_TbMK6TwGNfD-0xVj_fZdC4JUkE=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/SU7EFDELFA7VVUEMTQNS26S4HQ.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Crear liga</h5>
                <p class="card-text">Agrega equipos y hace el fixture de tu torneo.</p>
                <a href='@Url.Action("AgregarLiga","Home")' class="btn btn-secondary">ir</a>
            </div>
            </div>
        </div>
        
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
            <img src="https://phantom-marca.unidadeditorial.es/3a7394c2c5f812a9b91a34cc4ce66c2f/resize/1320/f/jpg/assets/multimedia/imagenes/2021/05/30/16223257520609.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ver ligas</h5>
                <p class="card-text">Aca podes ver todas las ligas creadas y sus fixtures.</p>
                <a href='@Url.Action("VerLigas","Home")' class="btn btn-secondary">ir</a>
                
            </div>
            </div>
        </div>
        </div> 
    </center>  
</div>



 